.certifications-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 15px;
}

.certifications-wrapper h2{
    text-decoration: underline;
    text-decoration-color: orange;
    font-size: 2rem;
}