.contact-wrapper{
    display: flex;
       flex-direction: column;
       align-items: flex-start;
       justify-content: flex-start;
       width: 45vw;
       height: 20vh;
       padding: 30px;
       box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  .contact-wrapper .row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
   .contact-wrapper h2{
       // margin-bottom: 5;
   }
   .contact-wrapper h3{
       font-size: 1rem;
   }