.page-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #ddd;
    text-align: center;
    padding: 20px;
}

.page-footer a {
    background-color: gray;
    border-radius: 50px !important;
    margin-left: 5px;
    margin-right: 5px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: unset !important;
    width: 50px !important;
    height: 50px !important;
}

.page-footer svg {
    font-size: 2rem;
}

.page-footer a:hover {
    background-color: #ddd;
    color: black;
}