.experience-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 15px;
}
.experience-wrapper h2{     
    text-decoration: underline;
    text-decoration-color: #0ea0ff;
    font-size: 2rem;
}